{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "printWidth": 120,
  "importOrder": ["^node:(.*)$", "<THIRD_PARTY_MODULES>", "^@/(lib|components)(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false
}
