{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "printWidth": 120,
  "importOrder": ["^node:(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
